<%= form_with(model: real_tweet, local: true) do |form| %>
  <% if real_tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(real_tweet.errors.count, "error") %> prohibited this real_tweet from being saved:</h2>

      <ul>
      <% real_tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
